@font-face {
   font-family: 'NorseBold';
   src: url('fonts/Norsebold.otf') format('opentype');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   /* define custom colors here */
   --bottle-green: #596D48;
   --input-border: #E5E7EB;
   --invalid-input-border: rgb(176, 14, 14);
   --focus-input-border: rgb(4, 26, 223);
}

body {
   font-family: 'Roboto','Times New Roman', Times, serif;
}

.container {
   height: 100vh;
   width: 100vw;
   display: flex;
   flex-direction: row;
}

.image-container {

   height: inherit;
   width: 40%;

   position: relative;

}
.car-image {
   width: 100%;
   height: 100%;
   object-fit: cover;

}
.logo-box {
   position: absolute;
   top: 200px;
   left: 0;
   right: 0;

   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5px;

   background-color: rgba(0, 0, 0, 0.301);
}
.odin-logo {
   width: 100px;
}
.odin-text {
   font-family: 'NorseBold';
   font-size: 80px;
   color: var(--input-border);
}

.info-container {

   flex: 1;

   background-color: rgb(250, 250, 250);

   display: flex;
   flex-direction: column;
}

.info-text {
   font-size: 20px;
   font-weight: 700;

   margin-top: 120px;
   margin-left: 40px;
   margin-right: 40px;
}
.info-text p:last-child {
   margin-top: 40px;
}
.italic-text {
   font-style: italic;
}

.form-container {
   margin-top: 50px;
   background-color: white;

   padding: 16px 30px;

   box-shadow: 0px 4px 10px gray;
}
.form-text {
   font-size: 20px;
   font-weight: 600;
}

.form-details {
   margin-top: 20px;
   margin-bottom: 20px;

   display: flex;
   flex-direction: column;
   gap: 10px;
}

.form-row {
   display: flex;
   gap: 20px;
   align-items: center;
}
.form-item {
   display: flex;
   flex-direction: column;
}
.form-item label {
   font-size: 12px;
   color: gray;
   font-weight: 500;
}
.form-item input {
   width: 300px;
   height: 34px;

   color: rgb(29, 28, 28);
   font-size: 16px;

   padding-left: 5px;

   border-radius: 4px;
   border-style: solid;
   border-color: var(--input-border);
   border-width: 2px;
   outline: none;
}
.form-item input:user-invalid {
   border-color: var(--invalid-input-border);
}
.form-item input:focus {
   border-color: var(--focus-input-border);
}


.submit-area {
   padding: 30px 40px;
}
.create-account-button {
   padding: 10px 30px;

   text-align: center;
   color: white;
   font-weight: 600;
   font-size: 16px;

   background-color: var(--bottle-green);
   
   border: none;
   border-radius: 5px;
}
.already-have-account {
   margin-top: 20px;
   font-weight: 500;
}
.already-have-account a {
   font-weight: 500;
   text-decoration: none;
   color: var(--bottle-green);
}

